@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
* {
    font-family: "Bad Script", cursive;
} */

.active {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(134, 37, 37);
}